<div class="full-screen">
  <div class="container mt-5 text-secondary d-flex justify-content-center align-items-center">
    <div class="col" style="max-width: 500px;">
    <h1>Change your van informations</h1>
    <%= render "form", van: @van %>
    </div>
  </div>
</div>
