<div class="full-screen">
  <div class="container mt-5 text-secondary d-flex justify-content-center align-items-center">
    <div class="col" style="max-width: 500px;">
    <h2 class="mb-3">Add your van for rent</h2>
    <%= render "form", van: @van %>
    </div>
  </div>
</div>


