<div class="full-screen" id="home-background">
  <div class="container flex-column d-flex justify-content-center align-items-center">
    <h1 class="text-center mb-5" style="color:white">Van the road with us !</h1>
    <%= render 'search_form' %>
    <div class="title-home">
      <% if policy(Van).create? %>
      <%= link_to 'Post your van for rent', new_van_path, class: 'btn btn-primary btn-detail' %>
      <% end %>
    </div>
  </div>
</div>
