<div class="full-screen">
  <div class="container d-flex justify-content-center align-items-center">
    <%= render 'search_form' %>
    <div class="title-home">
      <% if policy(Van).create? %>
      <%= link_to 'Post your van for rent', new_van_path, class: 'btn btn-primary btn-detail' %>
      <% end %>
    </div>
  </div>
</div>
