.pushable {
  background: #D98526;
  border: none;
  border-radius: 12px;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: #D98526;
  color: white;
  transform: translateY(-6px);
}
.pushable:active .front {
  transform: translateY(-2px);
}
