.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 10px;
}

.cards h2 {
  font-family: "Nunito";
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr ;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-van {
  width: 300px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 40px;
  border-radius: 6px;
  font-family: "Nunito";
}

.card-van > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-van h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: "Nunito";
}

.card-van p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  font-family: "Nunito";
}


.card-van .card-van-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-van-infos .card-van-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}



.van-status__available {
  color: green;
  font-weight: bold;
}

.van-status__unavailable {
  color: red;
  font-weight: bold;
}

#van-list {
  text-align: center;
  margin-top: 40px;
}

.cards-profile {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-direction: column;
  width: 800px;
}

.cards-myvans {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-direction: column;
  margin: 30px;
}

.cards-mybookings {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-direction: column;
  margin: 30px;
}

.card-profile {
  overflow: hidden;
  height: 190px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-profile img {
  height: 100%;
  width: 190px;
  object-fit: cover;
}

.card-profile h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-profile p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-profile .card-profile-infos {
  padding: 16px;
}

