@keyframes vanRoad {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(400px);
  }
}

.van {
  margin-top: -50px;
}

.translate-animation {
  animation-duration: 3500ms;
  animation-name: vanRoad;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
